body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

#logout_sidebar_button {
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 15px;
}

@media (max-width: 767.98px) {
  /* .sidebar {
    top: 5rem;
  } */
}

@media only screen and (min-width: 768px) {
  .navbar-custom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.text-center {
  text-align: center;
}

#map {
  width: 0px;
  height: 0px;
}

.btnLang {
  margin-right: 4rem;
}

.dropdown-menu {
  min-width: 0;
  width: 100%;
}

.feather-24 {
  width: 24px;
  height: 24px;
}

.feather-32 {
  width: 32px;
  height: 32px;
}

.card-animate {
  transition: all .4s;
}

.text-link-color {
  color: #405189
}

.bg-soft-primary {
  background-color: #4051892e !important;
}

.avatar-sm {
  height: 3rem;
  width: 3rem;
}

.avatar-md {
  width: 4rem;
}


.avatar-title {
  align-items: center;
  background-color: #405189;
  color: #fff;
  display: flex;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  width: 100%;
}

body, .avatar-body-gray {
  background-color: #f3f3f9;
}

.body-white {
  background-color: #ffffff;
}

.card {
  margin-bottom: 1.5rem;
  box-shadow: 0 1px 2px #38414a26;
}

.card-animate:hover {
  transform: translateY(calc(-1.5rem / 5));
  box-shadow: 0 5px 10px #1e20251f;
}

.card-title {
  font-size: 18px;
  margin: 0 0 7px;
}

.fs-13 {
  font-size: 15px !important;
}

.fs-14 {
  font-size: 16px !important;
}
